<!-- Blog Grid Section -->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Blog Posts</h2>
                <hr class="star-primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% set year = '0' %}
                <h3 class="text-center">Latest Posts</h2>
                    <ul class="post-list">
                        {% for post in page.pagination.items %}
                            {% set this_year %}{{ post.date | date("Y") }}{% endset %}
                            {% if year != this_year %}
                                {% set month = '0' %}
                                {% set year = this_year %}
                            {% endif %}
                            {% set this_month %}{{ post.date | date("F") }}{% endset %}
                            {% if month != this_month %}
                                {% set month = this_month %}

                            {% endif %}
                            <li>
                                <a href="{{ site.url }}{{ post.url }}" title="{{post.title}}">{{ post.date | date("F") }},
                                     {{ post.date | date("j") }}{{ post.date | date("S") }} - {{ post.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
            </div>
            <div class="col-md-6">
                <h3 class="text-center">Categories</h3>
                <ul class="category-list list-unstyled text-center">
                    {% for category,posts in data.posts_categories %}
                        <li>
                            <a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>

</section>
