
<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Location</h3>
                    <p>São Paulo <BR> <b>BRAZIL</b></p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        {% for key, network in site.social %}
                            <li>
                                <a href="{{ network.link }}" title="{{ network.name }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.icon }}"></i></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>I Recommend <i class="fa fa-heart-o"></i></h3>
                    <ul class="blogroll list-unstyled">
                        {% for key, site in site.blogroll %}
                            <li>
                                <a href="{{site.url}}" title="{{site.name}}">{{site.name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {{ site.title }} | 2014 - Powered by <a href="http://sculpin.io/" title="Sculpin">Sculpin</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>